<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>CheckEmailCode</title>
	</head>
	<body class="bg-cover bg-fixed min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]" style="animation: bgPulse 6s ease-in-out infinite;">
                <div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">

		<main>
			<section>
				<h2>Check Email Code Page</h2>
			</section>
			<section>
				<% if (error && error.length > 0) { %>
					<% error.forEach(err => { %>
						<p style="color: red"> <%= err %> </p>
					<% }) %>
				<% } %>
				<form action="/checkEmailCode" method="POST">
					<label>
						Type the code that we sent to your e-mail here:
						<input type="text" name="captchaInput" placeholder="Type the code here" required>
					</label><br><br>
					<button type="submit">Submit</button>
				</form>
			</section>
			<footer>
				<h6>Time do balacobaco</h6>
			</footer>
		</main>
		</div>
	</body>
</html>
