<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="uft-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Time do balacobaco">
		<title>Change Password</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/login">Sign In</a>
					<a href="/register">Sign Up</a>
				</nav>
				<section>
					<h2>Change Password Page</h2>
				</section>
				<section>
					<% if ( error && error.length > 0 ) { %>
						<% error.forEach(err => { %>
							<p style="color: red"> <%= err %> </p>
						<% }) %>
					<% } %>
					<form action="/newPassword" method="POST">
						<label>Password:</label><br>
						<input type="password" name="password" placeholder="type the password here" required><br><br>
						<label>Confirm Password:</label><br>
						<input type="password" name="confirmPassword" placeholder="confirm the password here" required><br><br>
						<label>
							<input type="checkBox" name="new2FA" value="true">
							Do you want to restart 2FA qrcode?<br><br>
						</label>
						<button type="submit">Submit</button>
					</form>
				</section>
			</header>
		</main>
	</body>
</html>
