<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="time do balacobaco">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>Change Password</title>
	</head>
	<body class="min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]">
                <div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">
		<main>
		<header>
			<nav>
				<a href="/login">Sign In</a>
				<a href="/register">Sign Up</a>
			</nav>
		</header>
		<section>
			<h2>Change Password Page</h2>
		</section>
		<section>
			<% if (success && success.length > 0) { %>
				<% success.forEach(suc => { %>
					<p style="color: green"> <%= suc %> </p>
				<% }) %>
			<% } %>
			<% if (error && error.length > 0) { %>
				<% error.forEach(err => { %>
					<p style="color: red"> <%= err %> </p>
				<% }) %>
			<% } %>
			<form action="/setAuthPassword" method="POST">
				<label>
					Type your new password here:
					<input type="password" name="password" placeholder="Type the new username here" required><br><br>
					Type again to confirm:
					<input type="password" name="confirmPassword" placeholder="Confirm your new password" required><br><br>
					<button type="submit">Submit</button>
				</label>
			</form>
		</section>
		<footer>
			<h6>Time do balacobaco</h6>
		</footer>
		</div>
	</body>
</html>
