<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>2FA Page</title>
	</head>
	<body>
		<% if (qrCodeDataURL) { %>
			<img src="<%= qrCodeDataURL %>"><br>
		<% } else if (image) { %>
			<img src="<%= image %>" width="350" height="350"<br>
		<% } %>
		<section>
			<h2>2FA Code Page</h2>
		</section>
		<section>
			<% if (error && error.length > 0) { %>
			<% error.forEach(err => { %>
				<p style="color: red"> <%= err %> </p>
			<% }) %>
			<% } %>
			<form action="/validate2FAQrCode" method="POST">
				<label>
					Code:
					<input type="text" name="code" placeholder="Type the code here" required>
					<button type="submit">Submit</button>
				</label>
			</form>
		</section>
		<footer>
			<h6>Time do balacobaco</h6>
		</footer>
	</body>
</html>
