<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CheckEmailCode</title>
	</head>
	<body>
		<main>
			<section>
				<h2>Check Email Code Page</h2>
			</section>
			<section>
				<% if (error && error.length > 0) { %>
					<% error.forEach(err => { %>
						<p style="color: red"> <%= err %> </p>
					<% }) %>
				<% } %>
				<form action="/checkEmailCode" method="POST">
					<label>
						Type the code that we sent to your e-mail here:
						<input type="text" name="captchaInput" placeholder="Type the code here" required>
					</label><br><br>
					<button type="submit">Submit</button>
				</form>
			</section>
			<footer>
				<h6>Time do balacobaco</h6>
			</footer>
		</main>
	</body>
</html>
