<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="time do balacobaco">
		<title>Forgot Password</title>
	</head>
	<body>
		<main>
		<header>
			<nav>
				<a href="/login">Sign In</a>
				<a href="/register">Sign Up</a>
			</nav>
		</header>
		<section>
			<h2>Forgot Password Page</h2>
		</section>
		<section>
			<% if (success && success.length > 0) { %>
				<% success.forEach(suc => { %>
					<p style="color: green"> <%= suc %> </p>
				<% }) %>
			<% } %>
			<% if (error && error.length > 0) { %>
				<% error.forEach(err => { %>
					<p style="color: red"> <%= err %> </p>
				<% }) %>
			<% } %>
			<form action="/checkEmail" method="POST">
				<label>
					Type your e-mail here:
					<input type="email" name="email" placeholder="Type the e-mail here" required><br><br>
					<button type="submit">Submit</button>
				</label>
			</form>
		</section>
		<footer>
			<h6>Time do balacobaco</h6>
		</footer>
	</body>
</html>
