<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome to our Pong Transcendence Game</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/logout">Logout</a>
				</nav>
			</header>
			<section>
				<h2>Welcome to your exclusive account <strong><%= username %></strong> !!!</h2>
			</section>
			<section>
				<p>Pong is a multiplayer game. You can be happy here.</p>
			</section>
			<footer>
				<h6>Time do Balacobaco</h6>
			</footer>
		</main>
	</body>
</html>
