<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome to our Pong Transcendence Game</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/register">Sign Up</a>
					<a href="/login">Sign In</a>
				</nav>
			</header>
			<section>
				<h1>Welcome to the best Pong of the world!!!</h1>
			</section>
			<section>
				<h2>Pong is a multiplayer game. You can be happy here.</h2>
			</section>
			<footer>
				<h6>Time do Balacobaco</h6>
			</footer>
		</main>
	</body>
</html>
