<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="timeDoBalacoBako">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>Login Page</title>
	</head>
	<body class="bg-cover bg-fixed min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]" style="animation: bgPulse 6s ease-in-out infinite;">
                <div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">
		<main>
			<header>
				<nav>
					<a href="/forgotPassword">Forgot Password</a>
					<a href="/register">Sign Up</a>
				</nav>
			</header>
			<section>
				<h1>Sign In</h1>
			</section>
				<section>
					<% if (success && success.length > 0) { %>
						<% success.forEach(suc => { %>
							<p style="color: green"> <%= suc %> </p>
						<% }) %>
				<% } %>
					<% if (error && error.length > 0) { %>
						<% error.forEach(err => { %>
							<p style="color: red"> <%= err %> </p>
					<% }) %>
				<% } %>
					<form action="/checkLogin" method="post">
						<label>email:</label><br>
						<input type="email" name="email" placeholder="type your e-mail here" required><br><br>
						<label>password:</label><br>
						<input type="password" name="password" placeholder="type the password here" required><br><br>
						<img src="<%= captcha %>" alt="captcha"><br>
						<input type="text" name="captchainput" placeholder="type the code here" required><br><br>
						<button class="bg-blue-600 hover:bg-blue-700 cursor-pointer text-white font-semibold" type="submit">submit</button>
					</form>
				</section>
			<footer>
				<h6>Time do BalacoBaco</h6>
			</footer>
		</main>
		</div>
	</body>
</html>
