<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="timeDoBalacoBako">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>Match Making</title>
    </head>
    <body class="bg-black text-white">
        <div class="min-h-screen flex flex-col justify-center items-center">
            <button id="joinQueueBtn" class="bg-slate-500 hover:bg-slate-700 cursor-pointer text-white font-semibold rounded-lg px-6 py-3 mb-4">Join Queue</button>
            <button id="leaveQueueBtn" class="bg-slate-600 hover:bg-slate-700 cursor-pointer text-white font-semibold rounded-lg px-6 py-3">Quit Queue</button>
        </div>
    </body>
</html>
