<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="timeDoBalacoBako">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>Match Making</title>
    </head>
    <body class="bg-cover bg-fixed min-h-screen flex justify-center items-center text-white bg-black">
        <div class="relative flex flex-col border bg-slate-700 justify-center items-center rounded-xl shadow-md p-6">
            <div id="queueTimer" class="mt-4 text-lg font-semibold hidden">
                ⏱ Tempo na fila: <span id="time">00:00</span>
            </div>
            <form action="/joinQueue" method="POST">
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 cursor-pointer text-white font-semibold rounded-lg px-6 py-3 mb-4">Join</button>
            </form>
            <form action="/leaveQueue" method="POST">
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 cursor-pointer text-white font-semibold rounded-lg px-6 py-3">Leave</button>
            </form>
        </div>
    </body>
</html>
