<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Not Found Page</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/login">Sign In</a>
					<a href="/register">Sign Up</a>
				</nav>
			</header>
			<section>
				<h1> <strong>NOT FOUND 404</strong> </h1>
			</section>
			<footer>
				<h6>Time do balacobaco</h6>
			</footer>
		</main>
	</body>
</html>
