<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/css/styles.css">
		<title>Not Found Page</title>
	</head>
	<body class="bg-cover bg-fixed mn-h-screen flex items-center justify-center" style="background-image: url('/public/images/notFound.jpg'); background-size: cover;">
		<main>
			<header>
				<nav>
					<a href="/login">Sign In</a>
					<a href="/register">Sign Up</a>
				</nav>
			</header>
			<section>
				<h1 style="color: white"> <strong>NOT FOUND 404</strong> </h1>
			</section>
			<footer>
				<h6>Time do balacobaco</h6>
			</footer>
		</main>
	</body>
</html>
