<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Time do balacobaco">
		<link rel="stylesheet" href="/public/css/styles.css">
		<script src="/public/js/hello.js"></script>
		<title>See All Users</title>
	</head>
	<body class="bg-cover bg-fixed min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]">
                <div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">

		<main>
			<header>
				<a href="/home">Home</a>
			</header>
			<section>
				<h1>All users page</h1>
				<ul class="space-y-6 mt-6">
				<% if (users && users.length > 0) { %>
					<% users.forEach(user => { %>
					<li class="flex items-center gap-4 p-4 bg-gray-900 rounded-lg shadow-md hover:bg-gray-800 transition">
						<img src="<%= user.avatar %>" width="60" height="60">
						<% if (user.isOnline) { %>
							<strong><p style="color: green">Online</p></strong>
						<% } else { %>
							<strong><p style="color: red">Offline</p></strong>
						<% } %>
						<a href="/seeProfile?user=<%=encodeURIComponent(user.public_id)%>" class="text-blue-400 font-bold hover:underline">
							<strong><%= user.username %></strong>
						</a>
						<% if (user.description) { %>
							<strong><p><%= user.description %> </p></strong>
						<% } else { %>
							<p class="text-gray-300 text-sm">This user has no description</p>
						<% } %>
					</li>
					<% }) %>
				<% } %>
				</ul>
			</section>
		</main>
		</div>
	</body>
</html>
