<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Time do balacobaco">
		<link rel="stylesheet" href="/public/css/styles.css">
		<script src="/public/js/hello.js"></script>
		<title>See All Users</title>
	</head>
	<body class="min-h-screen flex items-center justify-center bg-gradient-to-br from-[#020617] via-[#0a1a2f] to-[#0f172a]">
                <div class="z-10 relative bg-white/50 backdrop-blur-sm rounded-xl shadow-md p-6">

		<main>
			<header>
				<a href="/home">Home</a>
			</header>
			<section>
				<h1>All users page</h1>
				<% if (users && users.length > 0) { %>
					<% users.forEach(user => { %>
					<li style="display: flex; align-items: center; gap:10px;">
						<img src="<%= user.avatar %>" width="60" height="60">
						<% if (user.isOnline) { %>
							<strong><p style="color: green">Online</p>
						<% } else { %>
							<strong><p style="color: red">Offline</p>
						<% } %>
						<a href="/seeProfile?username=<%=encodeURIComponent(user.username)%>">
							<strong><%= user.username %></strong>
						</a>
						<% if (user.description) { %>
							<p><% user.description %> </p>
						<% }) else { %>
							<p>The user cannot has a description</p>
						<% }) %>
					</li>
					<% }) %>
				<% } %>
				</script>
			</section>
		</main>
		</div>
	</body>
</html>
